.custom-counter {
    background-color: azure;
    width: 500px;
    text-align: center;
    margin: 100px auto;
    padding: 32px;
    border-radius: 8px;
}

.custom-counter label {
    font: inherit;
    font-weight: bold;
    font-size: 32px;
    display: block;
    margin: 16px;
}

.custom-counter input {
    padding: 2px;
    margin: 0px 16px;
    border: 1px solid blue;
    border-radius: 8px;
    padding: 8px;
}
.custom-counter button {
    display: block;
    text-align: center;
    margin: 32px auto;
}